﻿<!-- airad.master
     A simple example of an ASP.NET master document.
     airad1.aspx is a content document for this document
     -->
<%@ Master Language="C#" AutoEventWireup="true" 
           CodeFile="airad.master.cs" Inherits="airad" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>airad master</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style type="text/css">
      span {font-style: italic; font-size: 30;
            font-weight: bold; color: Blue;}
    </style>
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
        <asp:Image ID="plane1" runat="server"
                   imageUrl="images\plane1.png" 
                   height="70px" width="70px" /> 
        <span> &nbsp; Aidan's Used Airplanes &nbsp; &nbsp; 
        </span>
        <asp:Image ID="plane2" runat="server"
                   imageUrl="images/plane2.png" />
        <br /><br /><br />                       
        <asp:ContentPlaceHolder id="TopPageContent" 
                                runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
