﻿
<%@ Page Language="C#" MasterPageFile="~/airad.master" 
         AutoEventWireup="true" CodeFile="airadContent.aspx.cs" 
         Inherits="airadContent" Title="Untitled Page" %>

<asp:Content ID="Content2" ContentPlaceHolderID="TopPageContent" 
             Runat="Server">
<!-- airadContent.aspx
     A content file for the airad master document
     -->
  <div>
    <h3> Today's Special </h3>
    1975 Cessna 172, light blue & grey, 850 hours SMOH <br />
    Great condition! Price reduced! Call us! <br />
    719-444-6999
  </div>
</asp:Content>

