<!DOCTYPE html>
<!-- hello.html.erb - the template for the greet application
     -->
<html lang = "en">
  <head>
    <title> greet </title>
    <meta charset = "utf-8" />
  </head>
  <body>
    <h1> Hello from Rails </h1>


    It is now <%= t = Time.now %> <br />
    Number of seconds since midnight:
    <%= t.hour * 3600 + t.min * 60 + t.sec %>
  </body>
</html>