<%= form_for(@corvette) do |f| %>
  <% if @corvette.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@corvette.errors.count, "error") %> prohibited this corvette from being saved:</h2>

      <ul>
      <% @corvette.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body_style %><br />
    <%= f.text_field :body_style %>
  </div>
  <div class="field">
    <%= f.label :miles %><br />
    <%= f.text_field :miles %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
