	.linkTable {
		border:outset; 
		background-color:white;
	}
	.imgTable {
		background-image:url('bird1.jpg');
		width:100%; 
		height:20px;
	}
	.tableOne { 
		border:3px double;
	}
	.list {
		color:darkred; 
		font-size:12pt; 
	}
	.tableTwoA {
		border:3px double;
		witdth:99%;
	}
	.tableTwoB {
		background:white;
		border:3px outset;
		width:100%;
	}
	.tableThree {
		border:3px double;
		width:100%;
	}		
	.tableFour {
		border:3px double;
		width:100%;
	}
	.nestedTable {
		background-color:lightblue;
	}
	.tableList {
		font-size:11pt;
		font-style:italic;
	}
	body {
		background-color:lightgrey;
	}
	h3 {
		font-style:italic;
		color:blue;
	}
	h2 {
		color:green;
	}
	h1 {
		color:red;
	}
